<%- include('./../partials/header') %>

<main class="main">
    <div class="container bounce-in-top">
        <h2 class="text-info mb-3"><%= typeOfAction %> Libro</h2>
        <form 
            class="container" 
            action="<%= action %>"
            method="POST"
            enctype="application/x-www-form-urlencoded"
        >
            <div class="form-floating mb-3">
                <input 
                    type="text" 
                    class="form-control" 
                    id="title" 
                    name="title"
                    placeholder="titulo"
                    value="<%= book.title %>"
                >
                <label for="email">titulo</label>
            </div>
            <div class="form-floating mb-3">
                <input 
                    type="number" 
                    class="form-control" 
                    id="year" 
                    name="year"
                    placeholder="año"
                    value="<%= book.year %>"
                >
                <label for="email">año</label>
            </div>
            <div class="form-floating mb-3">
                <input 
                    type="number" 
                    class="form-control" 
                    id="price" 
                    name="price"
                    placeholder="precio"
                    value="<%= book.price %>"
                >
                <label for="email">precio</label>
            </div>
            <!-- TODO imagen -->
            <div class="form-floating mb-3" style="visibility: hidden; height: 0;">
                <input 
                    type="file" 
                    class="form-control" 
                    id="img" 
                    name="img"
                    placeholder="imagen"
                    accept=".png,.jpg,.jpeg"
                >
                <label for="email">imagen</label>
            </div>
            <div class="clearfix mb-4">
                <button 
                    type="submit" 
                    class="button-86 me-2 float-end"
                >
                    <%= typeOfAction %>
                </button>
            </div>
        </form>
    </div>
</main>

<%- include('./../partials/footer') %>